.wsp_word-stats-popup {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 10px;
    z-index: 9999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.wsp_close-btn {
    float: right;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;
    color: red;
}

.wsp_word-stats h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.wsp_word-stats ol li strong {
    color: #4d4dff;
    font-weight: bold;
}